.header{
    background-color: rgb(199, 195, 195); ;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

/* .content{    
    position: fixed;
    top: 0;
    width: 100%
  } */

.leftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftSide button{
    width: 3rem;
    height: 3rem;
}

.rightSide{
    display: flex;
    flex-direction: row;
}

.rightSide button{
    background-color: inherit;
    border-radius: 20%;
}