.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.item {
  color: blue;
  width: 8rem;
  height: 8rem;
  background-color: lightgray;
  border: solid 1rem white;
}

a {
  text-decoration: none;
}
