.mainHeader{
    position: sticky;
    top: 0;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(207, 207, 207);
    position: -webkit-sticky;
    align-items: center;
    
}

.leftSide{
    display: flex;
}
.rightSide{
    display: flex;
}

.rightSide input{
    background-color: rgb(212, 211, 211); 
    width: 5rem;
    height: 2rem;
}

.rightSide button{
    background-color: rgb(199, 195, 195); 
    height: 3rem;
    width: auto;
    min-width: 3rem;
}