.main{
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 189, 189);
    /* background-color: rgb(15, 101, 199); */
    margin: 10px;
    /* box-shadow: 0 0.3rem 1rem rgba(114, 113, 113s, 0.815); */
    /*  margin-right: 5px;
    padding-bottom: 15px; */
    
}
.goBack{
    width: 3rem;
    height: 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(196, 194, 194);
    position: sticky;
    top: 0vh;
}

.header button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 2rem;
}

.mainOptions{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.mainOptions input{
    background-color: rgba(192, 190, 190, 0.534);
    border: none;
}

.tab{
    border: 1px solid lightgray
}

.tabButton {
    background-color:inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    /* transition: 0.3s; */
    font-size: 17px;
}

.tabButton button:hover {
    background-color: #ddd;
}
  
.tabButton button:active {
    background-color: #ccc;
}

.active{
    background-color: lightgray;
}